body {
    background-color: #FDFFC9;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: blue;
}

#tab1 {
    background: #babab6;
}

#tab2 {
    background: #FDFFC9;
}

#tab3 {
    background: white;
}

.msg {
    color: #FF0000;
}

.textInput {
    border-style: inset;
}

.button {
    border-radius: 4px;
    border-width: 2px;
    border-color: #5dd5dd;
}

#plan1,
#plan2 {
    border-radius: 2px;
    border-color: #BEBCB6;
    border: 2px solid #BEBCB6;
    background: white;
    padding: 20px;
    width: 100px;
    height: 100px;
    margin: 5px;
}

#selection {
    border-radius: 2px;
    border: 2px solid #BEBCB6;
    margin: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
    height: 300px;
    font-weight: bold;
    background: #CCCCCC;
}

#feelingsOutput {
    border-radius: 4px;
    border-color: #BEBCB6;
    border: 2px solid #BEBCB6;
    background: white;
    padding: 20px;
    width: 350px;
    height: 100px;
    line-height: 100px;
    vertical-align: middle !important;
    font-weight: lighter;
}

#message {
    font-weight: bold;
}

.rowContainer {
    display: flex !important;
    flex-direction: row;
}

.columnContainer {
    display: flex !important;
    justify-content: space-between;
    flex-direction: column;
}

.ui-datepicker-title,
.ui-datepicker {
    color: red;
}

#selection-label {
    margin: 10px;
}

#gradient-area {
    background: linear-gradient(rgb(230, 230, 230), rgb(204, 204, 204));
    flex-grow: 1;
}
